<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.telukidsv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/telukidslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/telukidslogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeluKidsV1">
        <activity
            android:name=".SquarePage6"
            android:exported="true" />
        <activity
            android:name=".SquarePage5"
            android:exported="true" />
        <activity
            android:name=".SquarePage4"
            android:exported="true" />
        <activity
            android:name=".SquarePage3"
            android:exported="true" />
        <activity
            android:name=".SquarePage2"
            android:exported="true" />
        <activity
            android:name=".SquarePage1"
            android:exported="true" />
        <activity
            android:name=".CirclePage6"
            android:exported="true" />
        <activity
            android:name=".CirclePage5"
            android:exported="true" />
        <activity
            android:name=".CirclePage4"
            android:exported="true" />
        <activity
            android:name=".CirclePage3"
            android:exported="true" />
        <activity
            android:name=".ChooseModeShapes"
            android:exported="true" />
        <activity
            android:name=".CirclePage2"
            android:exported="true" />
        <activity
            android:name=".CirclePage1"
            android:exported="true" />
        <activity
            android:name=".LessonIntroShapes"
            android:exported="true" />
        <activity
            android:name=".BasicConcepts"
            android:exported="true" />
        <activity
            android:name=".LogoutConfirmation79"
            android:exported="true" />
        <activity
            android:name=".EditProfile79"
            android:exported="true" />
        <activity
            android:name=".UserProfile79"
            android:exported="true" />
        <activity
            android:name=".LogoutConfirmation36"
            android:exported="true" />
        <activity
            android:name=".EditProfile36"
            android:exported="true" />
        <activity
            android:name=".UserProfile36"
            android:exported="true" />
        <activity
            android:name=".Homepage7to9"
            android:exported="true" />
        <activity
            android:name=".Homepage3to6"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".CategorySelection"
            android:exported="true" />
        <activity
            android:name=".SuccessfulLogin"
            android:exported="true" />
        <activity
            android:name=".SignUpOrLogInPage"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SuccessfulSignUp"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".QuizShapes"
            android:exported="true" />
        <activity
            android:name=".ResultsShapes"
            android:exported="true" />
        <activity
            android:name=".CongratsPageShapes"
            android:exported="true" />
    </application>

</manifest>